.env*
*tfstate*
*tfvars
*tfvars.json
*.p12
*.crt
.terraform*
*.save
*.json
*.kubeconfig
*.cfg
ves_system*yaml
manifest/*yaml
*.qcow2
create-service-account.sh
grant-public-access.sh
gcloud-docker-login.sh
check*sh
